.box {
    background-color: #A89FF7;
    width: 50%;
    height: 200px;
    margin: auto;
    padding: 50px;
    border: 2px solid;
    box-shadow: 8px 8px 1px 2px #5E4C81;
    position: relative;
    top: 140px;
    /* left: 20%; */
    min-width: 400px;
    max-width: 500px;
    border-radius: 25px;
}

body {
    background-color: pink;
}

h1 {
    color: #43195C;
    margin-top: 5px;
    margin-bottom: 5px;
}

.img {
    position: absolute;
    top: 50px;
    left: 60px;
}

.content {
    position: absolute;
    top: 45px;
    /* right: 30px; */
    float: right;
    left: 260px;
    margin: auto;
}